.container {
    width: 90%;
    background-color: white;
    position: relative;
    font-size: 0.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.noMessages {
    text-align: center;
    width: 80%;
    margin: auto;
    transition: all ease 0.3s;
}
.messages {
    width: 80%;
    line-height: 2rem;
    padding: 0.5rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
}
.role {
    font-weight: bolder;
    width: fit-content;
}
.messagesContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 45vh;
    max-height: 45vh;
    margin: auto;
    transition: all ease 0.3s;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
}
.form input {
    width: 60%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem auto;
}
.form label {
    font-weight: bolder;
    font-size: 1.1rem;
    width: 60%;
    margin: auto;
}
.emojis {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
.emojis li {
    font-size: 4rem;
}