.container {
    display: flex;
    background-color: rgba(0,0,0,0.2);
    color: white;
    transition: all ease 0.4s;
}
.container:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.imageDiv {
    margin: auto;
}
.mainDiv {
    margin: auto;
}