.container {
    align-items: center;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    background-color: white;
}
.container h2 {
    padding: 1rem;
    margin: auto 0;
    font-size: 1.4rem;
}
.pushRight {
    display: flex;
    justify-content: flex-end;
}
.keepLeft {
    display: flex;
    justify-content: flex-start;
}
.avatar {
    cursor: pointer;
}
.userOptionsList {
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 0.5rem;
    color: black;
    border: 1px solid black;
    width: fit-content;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    transition: all 0.3s ease;
    z-index: 100;
}
.userPreferenceList {
    background-color: whitesmoke;
    width: fit-content;
    position: fixed;
    left: 0;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 2rem;
    font-weight: bold;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.userPreferenceList input {
    margin: 0 1rem 0 0;
}
.userPreferenceList button {
    cursor: pointer;
    margin: 1rem 0 0 0;
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}
.userPreferenceList button:hover {
    background-color: #1877f2;
    color: white;
}
.userOption {
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}
.userOption:hover {
    color: #1877f2;
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    .keepLeft h2 {
        display: none;
    }
}