.stylingContainer h2 {
    padding: 1rem;
    margin: auto 0;
    align-items: center;
    font-size: 1.4rem;
}
.pushRight {
    display: flex;
    justify-content: flex-end;
}
.keepLeft {
    display: flex;
    justify-content: flex-start;
}
.avatar {
    cursor: pointer;
    border-radius: 100%;
    margin: 0.5rem;
}
#userOptionsList {
    font-weight: bold;
    border-radius: 0.5rem;
    width: fit-content;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    transition: all 0.3s ease;
    z-index: 100;
}
#userOptionsList button {
    text-align: left;
    margin: 0;
}
#userPreferenceList {
    width: fit-content;
    position: absolute;
    left: 0;
    margin-left: 1rem;
    border-radius: 0.5rem;
    line-height: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}
.closeButton {
    border: none;
    padding: 0.3rem;
    background-color: transparent;
}
.closeButton:hover {
    background-color: transparent;
}
.checkboxDiv {
    align-items: center;
    transition: all ease 0.3s;
    border-radius: 0.5rem;
    width: 100%;
}
.checkboxDiv:hover {
    color: #1877f2;
    background-color: rgb(190, 190, 190);
}
.inputCheckbox{
    clip-path: circle(40% at 50% 50%);
    background-color: black;
}
#userPreferenceList label {
    margin: 0 0 0 1rem;
}
.submitPreferences {
    cursor: pointer;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}
.submitPreferences:hover {
    background-color: #1877f2;
    color: white;
}
.userOption {
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}
.userOption:hover {
    color: #1877f2;
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    .keepLeft h2 {
        display: none;
    }
}