.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  align-items: center;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 0.5rem;
  max-height: 80vh;
  min-height: 50vh;
  width: 50%;
}
.back {
  position: absolute;
  top: 2%;
  left: 1%;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  transition: all ease 0.3s;
}
.back:hover {
  padding-bottom: 1rem;
  border-bottom: 1px solid #1877f2;
  color: #1877f2;
}
.container h3 {
  color: #1877f2;
  font-size: 1.5rem;
  text-align: center;
}
.passwordResetForm {
  margin: 3rem 0;
  align-items: center;
}
.passwordResetForm label {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
.passwordResetForm input {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  width: 40%;
  border-radius: 0.5rem;
  border: 1px solid black;
}
.passwordResetForm button {
  display: block;
  margin: 1rem auto;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  transition: all ease 0.3s;
  background-color: whitesmoke;
  color: black;
}
.passwordResetForm button:hover {
  background-color: #1877f2;
  color: white;
  border: 1px solid white;
}
.infoP {
  margin: 2rem auto;
  margin-top: 0;
  width: 60%;
  line-height: 1.5rem;
}
.infoWarning {
  margin: 2rem auto;
  margin-top: 0;
  width: 60%;
  line-height: 1.5rem;
  font-style: italic;
}
.asteriks {
  display: block;
  margin: 1rem;
  color: red;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .passwordResetForm input {
    width: 70%;
  }
  .infoP {
    display: none;
  }
  .infoWarning {
    display: none;
  }
  .asteriks {
    display: none;
  }
  .passwordResetForm input {
    width: 90%;
  }
  .passwordResetForm button {
    width: 100%;
  }
}
