.form {
  margin: auto;
}
.mainDiv {
  position: absolute;
  top: 0;
  right: 1%;
  background-color: transparent;
  width: fit-content;
  z-index: 1;
}
.resultsDiv {
  background-color: transparent;
}
.searchBar {
  padding: 1rem;
  margin: 1rem;
}
.button {
  border-radius: 0.5rem;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  transition: all ease 0.3s;
}
.button:hover {
  background-color: #1877f2;
  color: white;
}
.form input {
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1500px) {
  .container {
    right: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    right: 5%;
  }
}
@media only screen and (max-width: 992px) {
  .searchBar {
    padding: 0.5rem;
    margin: 1rem;
    width: fit-content;
  }
  .container {
    right: 5%;
  }
  .button {
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 481px) {
  .searchBar {
    padding: 0.5rem;
    margin: 1rem;
    width: 40%;
  }
  .button {
    padding: 0.5rem;
  }
}
