.container {
  position: fixed;
  top: 0;
}
.form {
  margin: auto;
}
.mainDiv {
  background-color: white;
  margin: auto;
}
.searchBar {
  padding: 1rem;
  margin: 1rem;
}
.button {
  border-radius: 1rem;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}
.formDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.formDiv input {
  width: 10%;
}
