.chatbotDiv {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
}

.chatbotDiv button {
  width: fit-content;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border: none;
  text-align: left;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}

.chatbotImage {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  animation: chefShake 30s ease-in-out infinite forwards;
}

.closeSectionDiv {
  box-shadow: 5px 2px 5px 4px rgba(0,0,0,0.3);
  background-color: white;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  width: 90%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.closeSectionDiv h3 {
  margin: auto;
}
@keyframes chefShake {
  45.6% {
    transform: translate(0px);
  }

  46.2% {
    transform: translate(-3px);
  }

  47% {
    transform: translate(3px);
  }

  47.6% {
    transform: translate(0px);
  }
}
@media only screen and (max-width: 1500px) {
  .chatbotDiv {
    width: 30%;
  }
}
@media only screen and (max-width: 1200px) {
  .chatbotDiv {
    width: 37%;
  }
}
@media only screen and (max-width: 992px) {
    .chatbotDiv {
      width: 45%;
    }
}
@media only screen and (max-width: 768px) {
  .chatbotDiv {
    width: 50%;
  }
}
@media only screen and (max-width: 481px) {
  .chatbotDiv {
    width: 70%;
  }
}