.chatbotImage {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  animation: chefShake 30s ease-in-out infinite forwards;
}
.closeSectionDiv h3 {
  margin: auto;
}
@keyframes chefShake {
  45.6% {
    transform: translate(0px);
  }

  46.2% {
    transform: translate(-3px);
  }

  47% {
    transform: translate(3px);
  }

  47.6% {
    transform: translate(0px);
  }
}
@media only screen and (max-width: 1500px) {
  #chatbotDiv {
    width: 35%;
    margin: 1rem;
  }
  .chatbotImage {
    right: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  #chatbotDiv {
    width: 37%;
    margin: 1rem;
  }
  .chatbotImage {
    right: 5%;
  }
}
@media only screen and (max-width: 992px) {
  #chatbotDiv {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #chatbotDiv {
    width: 60%;
  }
}
@media only screen and (max-width: 481px) {
  #chatbotDiv {
    width: 70%;
  }
}
