html {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.container_light {
    color: black;
}
.container_light h1, .container_light h2, .container_light h3, .container_light h4 {
  color: #f47174;
}
.container_dark h1, .container_dark h2, .container_dark h3, .container_dark h4 {
  color: lightsalmon;
}
.container_dark {
    color: lightblue;
    background-color: #0A0E14;
    border-color: lightblue;
}
.container_dark button {
  background-color: lightblue;
}
.container_dark_navbar {
  background-color: #0A0E14;
  color: lightblue;
  display: block;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
  padding-bottom: 1rem;
}
.container_light_navbar {
  background-color: white;
  color: black;
  display: block;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
  padding-bottom: 1rem;
}
.container_dark_chat {
  color: white;
  font-size: 0.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  padding-top: 1rem;
  box-shadow: none;
  border: 1px solid white;
  border-top: none;
  border-radius: 0.5rem;
}
.container_light_chat {
  font-size: 0.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  width: 90%;
  border-radius: 1rem;
  padding-top: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 5px 9px 5px 4px rgba(0,0,0,0.2);
  border: none;
}
.container_dark_souschef {
  background-color: #0A0E14;
  color: white;
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 30%;
  border-radius: 0.5rem;
}
.container_dark_souschef button {
  background-color: #0A0E14;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  text-align: left;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}
.container_light_souschef button {
  background-color: transparent;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  text-align: left;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}
.container_light_souschef {
  background-color: white;
  color: #1877f2;
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 30%;
  border-radius: 0.5rem;
}
.container_dark_fullMeal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0A0E14;
  color: lightblue;
  z-index: 1000;
  line-height: 2.2rem;
  overflow-y: scroll;
}
.container_light_fullMeal {
  position: fixed;
  background-color: white;
  color: black;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  line-height: 2.2rem;
  overflow-y: scroll;
}
.container_dark table {
  border-color: white;
}
.container_dark_userOptions {
  background-color: #0A0E14;
  border: 1px solid white;
  transition: all ease 0.3s;
}
.container_light_userOptions {
  background-color: whitesmoke;
  border: 1px solid black;
  transition: all ease 0.3s;
}
.container_dark_preferences {
  background-color: #0A0E14;
  border: 1px solid white;
  transition: all ease 0.3s;
}
.container_light_preferences {
  background-color: whitesmoke;
  border: 1px solid black;
  transition: all ease 0.3s;
}
.container_dark dialog {
    max-height: 75vh;
    margin: 5rem 0.5rem 0 auto;
    width: 20.5rem;
    background-color: #0A0E14;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}
.container_light dialog {
    max-height: 75vh;
    margin: 5rem 0.5rem 0 auto;
    width: 20.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.randomJoke {
  padding-top: 5rem;
  min-height: 90vh;
}
.container_light .jokeQuestion {
  text-align: center;
  font-size: 1.7rem;
  display: block;
  margin: 1rem auto;
  color: black;
}
.container_dark .jokeQuestion {
  color: lightblue;
  text-align: center;
  font-size: 1.7rem;
  display: block;
  margin: 1rem auto;
}
.jokeAnswer {
  text-align: center;
  font-size: 2rem;
  display: block;
  color: #1877f2;
  margin: 1rem auto;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    margin: auto;
  }

  @media only screen and (max-width: 1500px) {
    .container_dark_souschef {
      width: 35%;
      margin: 1rem;
    }
    .container_light_souschef {
      width: 35%;
      margin: 1rem;
    }
  }
  @media only screen and (max-width: 1200px) {
    .container_dark_souschef {
      width: 40%;
      margin: 1rem;
    }
    .container_light_souschef {
      width: 40%;
      margin: 1rem;
    }
  }
  @media only screen and (max-width: 992px) {
      .container_dark_souschef {
        width: 45%;
      }
      .container_light_souschef {
        width: 45%;
      }
  }
  @media only screen and (max-width: 768px) {
    .container_dark_souschef {
      width: 60%;
    }
    .container_light_souschef {
      width: 60%;
    }
  }
  @media only screen and (max-width: 481px) {
    .container_dark_souschef {
      width: 70%;
    }
    .container_light_souschef {
      width: 75%;
    }
  }