html {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.container_light {
    color: black;
}
.container_dark {
    color: white;
    background-color: #0A0E14;
    border-color: white;
}
.container_dark table {
  border-color: white;
}
.container_dark ul {
  border: 1px solid white;
}
.container_light ul {
  border: 1px solid black;
}
.container_dark_preferences {
  border: 1px solid white;
}
.container_light_preferences {
  border: 1px solid black;
}
.container_dark dialog {
    max-height: 75vh;
    margin: 5rem 0.5rem 0 auto;
    width: 20.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
}
.container_light dialog {
    max-height: 75vh;
    margin: 5rem 0.5rem 0 auto;
    width: 20.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.randomJoke {
  padding-top: 5rem;
  min-height: 90vh;
}
.jokeQuestion {
  text-align: center;
  font-size: 1.7rem;
  display: block;
  margin: 1rem auto;
  color: black;
}
.container_dark .jokeQuestion {
  color: white;
}
.jokeAnswer {
  text-align: center;
  font-size: 2rem;
  display: block;
  color: #1877f2;
  margin: 1rem auto;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    margin: auto;
  }