html {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.container-light {
    color: black;
}
.container-dark {
    color: white;
    background-color: blue;
}
.randomJoke {
  padding-top: 5rem;
  min-height: 70vh;
}
.jokeQuestion {
  text-align: center;
  font-size: 1.7rem;
  display: block;
  margin: 1rem auto;
  color: black;
}
.jokeAnswer {
  text-align: center;
  font-size: 2rem;
  display: block;
  color: #1877f2;
  margin: 1rem auto;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    margin: auto;
  }